*{
	/*border :1px solid red !important;*/
}
.share{
	display: flex;
	justify-content: flex-end;
}
.row{
	padding-top: 5px;
	padding-bottom: 5px;
}
.icons{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	padding-right:4px; 
}